[user]
        name = Jan Stratil
        email = jan.stratil@innovatrics.com
[core]
        autocrlf = input
[oh-my-zsh]
        hide-status = 1
[alias]
        rbi = =
[pull]
        rebase = true
[filter "lfs"]
        required = true
        clean = git-lfs clean -- %f
        smudge = git-lfs smudge -- %f
        process = git-lfs filter-process
[credential]
        helper = store
